@{
    ViewBag.Title = "Dashboard";
}
<div class="portlet light portlet-fit bordered">
    <div class="portlet-title">
        <div class="caption font-green-haze">
            <span class="caption-subject bold uppercase">Admin Dashboard</span>
        </div>
    </div>
    <div class="portlet-body">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
                <div class="dashboard-stat2 bordered">
                    <div class="display">
                        <div class="number">
                            <h3 class="text-success">
                                <span>5</span>
                            </h3>
                            <small>Raised</small>
                        </div>
                        <div class="icon">
                            <i class="icon-pie-chart"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
                <div class="dashboard-stat2 bordered">
                    <div class="display">
                        <div class="number">
                            <h3 class="text-danger">
                                <span>4</span>
                            </h3>
                            <small>Assigned</small>
                        </div>
                        <div class="icon">
                            <i class="icon-pie-chart"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
                <div class="dashboard-stat2 bordered">
                    <div class="display">
                        <div class="number">
                            <h3 class="text-info">
                                <span>3</span>
                            </h3>
                            <small>Cancelled</small>
                        </div>
                        <div class="icon">
                            <i class="icon-pie-chart"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
                <div class="dashboard-stat2 bordered">
                    <div class="display">
                        <div class="number">
                            <h3 class="text-warning">
                                <span>2</span>
                            </h3>
                            <small>Closed</small>
                        </div>
                        <div class="icon">
                            <i class="icon-pie-chart"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
                <div class="dashboard-stat2 bordered">
                    <div class="display">
                        <div class="number">
                            <h3 class="text-primary">
                                <span>1</span>
                            </h3>
                            <small>CancelledByUser</small>
                        </div>
                        <div class="icon">
                            <i class="icon-pie-chart"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
