@{
    ViewBag.Title = "AboutUs";
}

<!-- BEGIN PAGE LEVEL STYLES -->
<link href="~/Assets/pages/css/about.min.css" rel="stylesheet" type="text/css" />
<!-- END PAGE LEVEL STYLES -->
<!-- BEGIN About Us -->
<div class="row">
    <div class="col-md-9">
        <div class="portlet light portlet-fit">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-layers font-green"></i>
                    <span class="caption-subject font-green bold uppercase">About Us</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="portlet light about-text">
                    <p>
                        Pikpot - The leading RO purifier service provider for installation of new Reverse Osmosis (RO) Systems (Domestic and Commercial range) and provides service of existing RO purifier systems at your doorstep. Based out of Hyderabad and started our operations in first in Hyderabad and will be rapidly expanding across INDIA in future. To full fill the gap, Pikpot is a bridge between skilled/unskilled person and needy person to solve their water purifier system problems. Our bridge backed by a professional team with vast experience and expertise in water treatment equipments. They can also provide complete solution for your water purifier at a technical level in Commercial RO plants and Softeners apart from the standard range of domestic equipment models.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="stories-cont">
            <div class="portlet light">
                <div class="stories-header">
                    <h2>Founder</h2>
                </div>
                <div class="photo">
                    <img src="~/Assets/pages/media/user.jpg" alt="" class="img-responsive">
                </div>
                <div class="title">
                    <span> Hitesh Shah (Jain) </span>
                </div>
                <div class="desc">
                    <span> MCA (Bangalore University) with 2 .5 years of experience in Software Industry </span>
                </div>
                <div class="margin-top-20 profile-desc-link">
                    <i class="fa fa-facebook"></i>
                    <a href="https://www.facebook.com/shahhitesh101">shahhitesh101</a>
                </div>
                <div class="margin-top-20 profile-desc-link">
                    <i class="fa fa-linkedin"></i>
                    <a href="https://www.linkedin.com/shahhitesh101">shahhitesh101</a>
                </div>
                <div class="margin-top-20 profile-desc-link">
                    <i class="fa fa-twitter"></i>
                    <a href="https://twitter.com/shahhitesh101">shahhitesh101</a>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- END About Us -->
