@{
    ViewBag.Title = "FAQ";
}

<!-- BEGIN PAGE LEVEL STYLES -->
<link href="~/Assets/pages/css/faq.min.css" rel="stylesheet" type="text/css" />
<!-- END PAGE LEVEL STYLES -->
<!-- BEGIN FAQ -->
<div class="row">
    <div class="col-md-12">
        <div class="portlet light portlet-fit ">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-layers font-green"></i>
                    <span class="caption-subject font-green bold uppercase">FAQ</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="faq-page faq-content-1">
                    <div class="faq-content-container">
                        <div class="faq-section ">
                            <div class="panel-group accordion faq-content" id="accordion1">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <i class="fa fa-circle"></i>
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse_1"> What is a reverse osmosis system?</a>
                                        </h4>
                                    </div>
                                    <div id="collapse_1" class="panel-collapse collapse">
                                        <div class="panel-body">                                            
                                            <p>
                                                Reverse osmosis (RO) is a water purification technology that uses a semi permeable membrane. This membrane technology is not properly a filtration method. In reverse osmosis, an applied pressure is used to overcome osmotic pressure, a colligative property that is driven by chemical potential, a thermodynamic parameter.
                                            </p>
                                        </div>
                                    </div>
                                </div> 

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <i class="fa fa-circle"></i>
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse_2"> What is water purification system?</a>
                                        </h4>
                                    </div>
                                    <div id="collapse_2" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>
                                                Water purification is the process of removing undesirable chemicals, biological contaminants, suspended solids and gases from contaminated water. The goal of this process is to produce water fit for a specific purpose.
                                            </p>
                                        </div>
                                    </div>
                                </div> 

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <i class="fa fa-circle"></i>
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse_3"> What is water softener?</a>
                                        </h4>
                                    </div>
                                    <div id="collapse_3" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>
                                                Water softener is an appliance that uses sodium chloride, also known as salt, to treat hard water. Hard water contains an excess of minerals such as calcium, magnesium, manganese and iron that can be an expensive nuisance for your home. These minerals are taken up in the underground water supply and, as the water is heated in your home, they crystallize and stubbornly stick to household surfaces. Sodium chloride, the effective component of water softener, works to replace these unwanted minerals.
                                            </p>
                                        </div>
                                    </div>
                                </div> 

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <i class="fa fa-circle"></i>
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse_4"> What is difference between Domestic and Commercial RO Purifier?</a>
                                        </h4>
                                    </div>
                                    <div id="collapse_4" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>
                                                Domestic RO Purifier system basically used in for home purpose. While, commercial RO purifier system used for office or factory purpose.
                                            </p>
                                        </div>
                                    </div>
                                </div> 

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <i class="fa fa-circle"></i>
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse_5"> How much an installation or service charge for RO Purifier?</a>
                                        </h4>
                                    </div>
                                    <div id="collapse_5" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>
                                                The service charge may vary based on the type of RO purifier systems so, engineer will be having set of criteria on cost based on the model and consumed resources during request. As far as service/request concerns minimal 199/- INR RS for Domestic and 299/- INR RS for Commercial range RO Purifier will be engineer’s visiting charge at customer place; which needs to be paid to engineer itself by customer.
                                            </p>
                                        </div>
                                    </div>
                                </div> 

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <i class="fa fa-circle"></i>
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse_6"> What is the mode of payment?</a>
                                        </h4>
                                    </div>
                                    <div id="collapse_6" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>
                                                Currently we have only Offline payment mechanism. Going future online payment mode will be added in application; for the same will update accordingly.
                                            </p>
                                        </div>
                                    </div>
                                </div> 

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <i class="fa fa-circle"></i>
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse_7"> How overall service works via app?</a>
                                        </h4>
                                    </div>
                                    <div id="collapse_7" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>
                                                Once request raise by customer via application (either new installation or service for existing RO purifier) then within 99 minutes engineer will reach to your doorstep to resolve that request. Then after based on the issue/problem engineer will take necessary actions in front of customer.
                                            </p>
                                        </div>
                                    </div>
                                </div> 

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <i class="fa fa-circle"></i>
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse_8"> Services are covered which all cities?</a>
                                        </h4>
                                    </div>
                                    <div id="collapse_8" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>
                                                Currently, we are live in Hyderabad. Going future we will expand in other region of INDIA.
                                            </p>
                                        </div>
                                    </div>
                                </div> 

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- END FAQ -->