@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-12">
        <div class="portlet light portlet-fit ">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-layers font-green"></i>
                    <span class="caption-subject font-green bold uppercase">Home</span>
                </div>
            </div>
            <div class="portlet-body">
            </div>
        </div>
    </div>
</div>
