@{
    ViewBag.Title = "Home Page";
}

<!-- Mobile nav Start -->
<div class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s2">
    <div class="mobile_nav_close_button"><a href="" id="hideRight"><div data-icon="&#xe13f;" class="button_icon close_icon"></div></a></div>
    <nav id="mobile_menu_content">
        <a href="#more_info">Overview</a>
        <a href="#features">Features</a>
        <a href="#features_video">Video</a>
        <a href="#reviews">Reviews</a>
        <a href="#screenshots">Screenshots</a>
        <a href="#contact">Contact</a>
    </nav>
</div>
<!-- Mobile nav End -->
<!-- Preloader Start -->
<div id="preloader_container">

    <!-- Preloader Screen Start -->
    <header class="preloader_header">
        <div class="preloader_loader">
            <svg class="preloader_inner" width="60px" height="60px" viewBox="0 0 80 80">
                <path class="preloader_loader_circlebg" d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z" />
                <path id="preloader_loader_circle" class="preloader_loader_circle" d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z" />
            </svg>
        </div>
    </header>
    <!-- Preloader Screen End -->
    <!-- Fullscreen homepage Start -->
    <section class="hero_fullscreen background_slider gradient_overlay menu_bar-waypoint" data-animate-down="menu_bar-hide" data-animate-up="menu_bar-hide">
        <!-- This section class is where you can edit background choice (background_single, background_slider, background_video) you can also enable gradient overlay (gradient_overlay) and mockups (mockups)-->
        <!-- Logo and navigation -->
        <div class="container top_bar">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <img src="/Images/logo_light.png" alt="logo" class="logo" />
                    <nav class="navigation_desktop">
                        <ul>
                            <li><a href="#more_info" class="visible-lg visible-md go_to_overview">Overview</a></li>
                            <li><a href="#features" class="visible-lg visible-md">Features</a></li>
                            <li><a href="#features_video" class="visible-lg visible-md">Video</a></li>
                            <li><a href="#reviews" class="visible-lg visible-md">Reviews</a></li>
                            <li><a href="#screenshots" class="visible-lg visible-md">Screenshots</a></li>
                            <li><a href="#contact" class="visible-lg visible-md">Contact</a></li>
                            <li><div class="mobile_nav_open_button hidden-lg hidden-md"><a href="" id="showRight_1"><div data-icon="&#xe2f3;" class="button_icon close_icon"></div></a></div></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- //Logo and navigation -->
        <!-- Main content -->
        <div class="container align-left" id="main_content">
            <div class="content_container row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 home_content">
                    <h2 class="slogan">Show your mobile app with James!</h2>
                    <h6>It`s a mobile app landing page designed with material design in core. Present your app the best way it deserves.</h6>

                    <!-- CTA Buttons-->
                    <div class="cta_button_area">
                        <div><button class="btn waves-effect waves-light subscribe-submit">Purchase Now!</button></div>
                        <a href="#more_info"><small>Not sure? Learn more.</small></a>
                    </div>
                    <!-- //CTA Buttons-->

                </div>

                <!-- Mockups-->
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 home_mockup">
                    <img src="/Images/mockups/1/back.png" alt="" class="mockup-animation1 home_mockup_image">
                    <img src="/Images/mockups/1/front.png" alt="" class="mockup-animation2 home_mockup_image">
                </div>
                <!-- //Mockups-->

            </div>
        </div>
        <!-- //Main content -->
        <!-- Video Background -->
        <div id="maximage_video">
            <video autoplay="autoplay" loop="loop" muted="muted" width="896" height="504">
                <source src="video/video.mp4" type="video/mp4" />
                <source src="video/video.webm" type="video/webm" />
                <source src="video/video.ogv" type="video/ogg" />
            </video>
        </div>
        <!-- //Video Background -->
        <!-- Slider Background -->
        <div id="maximage_slider">
            <img src="/Images/background_slider_01.jpg" alt="" />
            <img src="/Images/background_slider_02.jpg" alt="" />
            <img src="/Images/background_slider_03.jpg" alt="" />
            <img src="/Images/background_slider_04.jpg" alt="" />
        </div>
        <!-- //Slider Background -->
        <!-- Single Image Background -->
        <div id="maximage_single">
            <img src="/Images/home_background_01.jpg" alt="" />
        </div>
        <!-- //Single Image Background -->
    </section>
    <!-- Fullscreen homepage End -->
    <!-- Menu bar Start -->
    <header id="menu_bar" class="menu_bar">
        <div class="container">
            <a href="" class="go_to_home logo_dark"><img src="/Images/logo_dark.png" alt="logo" class="logo" /></a>
            <a href="" class="go_to_home logo_light"><img src="/Images/logo_light.png" alt="logo" class="logo" /></a>
            <nav class="menu_bar_navigation">
                <ul>
                    <li class="visible-lg visible-md"><a href="#more_info" class="go_to_overview">Overview</a></li>
                    <li class="visible-lg visible-md"><a href="#features">Features</a></li>
                    <li class="visible-lg visible-md"><a href="#features_video">Video</a></li>
                    <li class="visible-lg visible-md"><a href="#reviews">Reviews</a></li>
                    <li class="visible-lg visible-md"><a href="#screenshots">Screenshots</a></li>
                    <li class="visible-lg visible-md"><a href="#contact">Contact</a></li>
                    <li class="visible-lg visible-md last-item"><button class="btn waves-effect waves-light subscribe-submit">Purchase</button></li>
                    <li class="hidden-lg hidden-md"><div class="mobile_nav_open_button "><a href="" id="showRight_2"><div data-icon="&#xe2f3;" class="button_icon close_icon"></div></a></div></li>
                </ul>
            </nav>
        </div>
    </header>
    <!-- // Menu bar End -->
    <!-- More Info Start -->
    <section id="more_info" data-animate-down="menu_bar-show" data-animate-up="menu_bar-hide" class="menu_bar-waypoint subsection">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 align-center content_anim1 intro">
                    <h3>The best way to show your app to the world</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </div>
        </div>

        <div class="more_info_mockup content_anim2 ">
            <img src="/Images/mockups/subsection_mockups/1.png" alt="" class="img_responsive" />
        </div>

        <div class="container">
            <div class="row">

                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="iconbox content_anim3">
                        <div data-icon="&#xe024;" class="iconbox_icon"></div>
                        <div class="iconbox_content">
                            <h5>Responsive Design</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt dolore.</p>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="iconbox content_anim4">
                        <div data-icon="&#xe08e;" class="iconbox_icon"></div>
                        <div class="iconbox_content">
                            <h5>Clean Code</h5>
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="iconbox content_anim5">
                        <div data-icon="&#xe0be;" class="iconbox_icon"></div>
                        <div class="iconbox_content">
                            <h5>1500+ Icons</h5>
                            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </section>
    <!-- More info End -->
    <!-- Features Start -->
    <section id="features" class="subsection">
        <div class="container">
            <div class="row">

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="mockup_container">
                        <img src="/Images/mockups/subsection_mockups/2a.png" alt="" class="img_responsive mockup_back content_anim10" />
                        <img src="/Images/mockups/subsection_mockups/2b.png" alt="" class="img_responsive mockup_front content_anim9" />
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

                    <div class="intro content_anim6">
                        <h3>Present your app in a beautiful and elegant way.</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                    </div>

                    <div class="iconbox content_anim7">
                        <div data-icon="&#xe037;" class="iconbox_icon"></div>
                        <div class="iconbox_content">
                            <h5>Creative Design</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore aliqua.</p>
                        </div>
                    </div>

                    <div class="iconbox content_anim8">
                        <div data-icon="&#xe095;" class="iconbox_icon"></div>
                        <div class="iconbox_content">
                            <h5>Cross-Browser Support</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore aliqua.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- Features End -->
    <!-- Features - Video Start -->
    <section id="features_video" class="subsection">
        <div class="container">

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 play content_anim11">
                    <a href="#video_modal_box" data-lightbox-type="inline" class="btn waves-effect waves-light" id="Play_Video">Play Video</a>
                </div>
            </div>
            <!-- Video - lightbox -->
            <div id="video_modal_box" style="display:none; background:white">
                <iframe src="//player.vimeo.com/video/120433187?title=0&amp;byline=0&amp;portrait=0" width="500" height="281"></iframe>
            </div>
            <!-- //Video - lightbox -->
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="intro content_anim12">
                        <h3>Use video to show how awesome your app is!</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
                    <ul class="icon_list">
                        <li class="content_anim13"><div data-icon="&#xe24f;" class="icon_small float-left"></div><h6>Contact & Newsletter Form Included</h6></li>
                        <li class="content_anim14"><div data-icon="&#xe1d7;" class="icon_small float-left"></div><h6>Image, Slider, Video Backgrounds</h6></li>
                        <li class="content_anim15"><div data-icon="&#xe027;" class="icon_small float-left"></div><h6>Mobile App Mockups Included</h6></li>
                        <li class="content_anim16"><div data-icon="&#xe102;" class="icon_small float-left"></div><h6>Easy To Customise Animations</h6></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- Features - Video End -->
    <!-- Reviews Start -->
    <section id="reviews" class="subsection_parallax" data-stellar-background-ratio="0.6">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 col-sm-offset-2 col-md-offset-2 col-lg-offset-2 content_anim17">
                    <div class="owl-carousel">

                        <div class="single_review">
                            <img src="/Images/review_01.jpg" alt="" class="img-circle">
                            <div class="review_content">
                                <h6>An elephant and a camel are talking. The elephant asks, "Why do you have boobs on your back?" The camel replies, "Ha! That's a funny question coming from an animal with a penis hanging from his face.”</h6>
                                <p>- John McLane, Microsoft</p>
                            </div>
                        </div>

                        <div class="single_review">
                            <img src="/Images/review_02.jpg" alt="" class="img-circle">
                            <div class="review_content">
                                <h6>I was feeling pretty creaky after hearing the TV reporter say, "To contact me, go to my Facebook page, follow me on Twitter, or try me the old-fashioned way-e-mail.</h6>
                                <p>- Jane Kovalsky, Apple</p>
                            </div>
                        </div>

                        <div class="single_review">
                            <img src="/Images/review_03.jpg" alt="" class="img-circle">
                            <div class="review_content">
                                <h6>A Sergeant was addressing a squad of 25 and said: "I have a nice easy job for the laziest man here.  Put up your hand if you are the laziest."  24 men raised their hands, and the sergeant asked the other man "why didn't you raise your hand?"  The man replied: "Too much trouble raising the hand, Sarge."</h6>
                                <p>- Mat Patterson, Google</p>
                            </div>
                        </div>

                        <div class="single_review">
                            <img src="/Images/review_04.jpg" alt="" class="img-circle">
                            <div class="review_content">
                                <h6>The 21st century: Deleting history is more important than making it.</h6>
                                <p>- Billy </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Reviews End -->
    <!-- Screenshots Start -->
    <section id="screenshots" class="subsection">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 align-center">
                    <div class="intro content_anim25">
                        <h3>Screenshots</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="content_anim26" id="screenshots_gallery">
            <div class="owl-carousel-screenshots">
                <div><a href="/Images/screenshots/1.jpg" data-lightbox-gallery="gallery1"><img src="/Images/screenshots/1.jpg" class="shadow" alt=""></a></div>
                <div><a href="/Images/screenshots/1.jpg" data-lightbox-gallery="gallery1"><img src="/Images/screenshots/1.jpg" class="shadow" alt=""></a></div>
                <div><a href="/Images/screenshots/1.jpg" data-lightbox-gallery="gallery1"><img src="/Images/screenshots/1.jpg" class="shadow" alt=""></a></div>
            </div>
        </div>

    </section>
    <!-- Screenshots End -->
    <!-- Contact Start -->
    <section id="contact" class="subsection">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 content_anim29">
                    <h3>Contact Info</h3>

                    <ul class="icon_list">
                        <li><div data-icon="&#xe1b4;" class="icon_small float-left"></div><h6>C-204, Mahtre Appartment, Koparkhairne<br>Mumbai</h6></li>
                        <li><div data-icon="&#xe23a;" class="icon_small float-left"></div><h6>+91 8097644345</h6></li>
                        <li><div data-icon="&#xe242;" class="icon_small float-left"></div><h6><a href="mailto:hardik.shah@srimca.edu.in">hardik.shah@srimca.edu.in</a></h6></li>
                    </ul>
                </div>


                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 col-sm-offset-2 col-md-offset-2 col-lg-offset-2 content_anim30">
                    <h3>Contact Us</h3>
                    <p>Contact Us using contact form below.</p>


                    <!-- Contact Form -->
                    <form action="php/contactform.php" id="contact-form" method="post">
                        <div class="contact_form">
                            <div class="input-field">
                                <input id="first_name" type="email" name="contact-name">
                                <label for="first_name">Your Name</label>
                            </div>
                            <div class="input-field">
                                <input id="contact_email" type="email" name="contact-email">
                                <label for="contact_email">Email Address</label>
                            </div>
                            <div class="input-field">
                                <textarea class="materialize-textarea" name="contact-message"></textarea>
                                <label>Message</label>
                            </div>
                        </div>
                        <button class="btn waves-effect waves-light" type="submit" name="action">Send</button>
                    </form>
                    <!-- //Contact Form -->


                    <div id="message"><div id="alert"></div></div><!-- Message container -->
                </div>


            </div>
        </div>
    </section>
    <!-- Contact End -->
    <!-- More info Start -->
    <section id="footer" class="subsection">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 align-center">

                    <!-- Social Icons -->
                    <div class="social_icons_container align-center">
                        <div class="social_icons">
                            <ul>
                                <li><div data-icon="&#xe282;" class="social_icon twitter_icon" onclick="location.href='#'"></div></li>
                                <li><div data-icon="&#xe281;" class="social_icon facebook_icon" onclick="location.href='#'"></div></li>
                                <li><div data-icon="&#xe279;" class="social_icon linkdin_icon" onclick="location.href='#'"></div></li>
                                <li><div data-icon="&#xe27f;" class="social_icon dribbble_icon" onclick="location.href='#'"></div></li>
                            </ul>
                        </div>
                    </div>
                    <!-- //Social Icons -->
                    <p><small>Copyright © 2016</small></p>
                </div>
            </div>
        </div>
    </section>
    <!-- More info End -->

</div>
<!-- Preloader End -->