@{
    ViewBag.Title = "Services";
}

<!-- BEGIN PAGE LEVEL STYLES -->
<link href="~/Assets/pages/css/about.min.css" rel="stylesheet" type="text/css" />
<!-- END PAGE LEVEL STYLES -->
<!-- BEGIN Services -->
<div class="row">
    <div class="col-md-12">
        <div class="portlet light portlet-fit">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-layers font-green"></i>
                    <span class="caption-subject font-green bold uppercase">Services</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="portlet light about-text">
                    <p>
                        Water is the essence of life, yet it is the one resource in our world that continues to deteriorate. We have become accustomed to opening a faucet and expecting the water we use to be safe and pure. Our environment has been continuously assaulted by toxic waste and chemical dumping and every day we learn of another region or town where the public health has been threatened. Whether your water comes from a municipal supply or from a private well, you are concerned about the water quality.
                    </p>

                    <p>
                        In today’s polluted world, pure water is a rarity, drinking impure water can result into diseases like jaundice, typhoid, cholera, etc., weakening our immune system. Safe, clean water is very important for life.
                    </p>

                    <p>
                        Reverse Osmosis, also known as hyper filtration, is the finest means of filtration available today. RO is the most convenient and effective method of water filtration. Reverse Osmosis refers to the process of forcing water through a semi-permeable membrane under pressure.
                    </p>

                    <p>
                        Non-RO water filters are much less effective, and the pore size on these filter media are much bigger. They can filter out coarse particles, sediments and elements only up to their micron rating. Anything finer and most dissolved substances cannot be filtered out. As a result, water is far less clean and less safe compared to Reverse Osmosis filtration.
                    </p>

                    <p>
                        At Pikpot Service world, we understand that pure water alone can fight against thousands of infectious diseases. Enjoying great customer testimonials, our goal is to be the best at what we – providing high quality product at a fair price (minimal 199 INR RS) along with competent RO service support (for which costs not added in minimal charge).
                    </p>

                    <div class="headtitle">
                        RO Purifier service includes:
                    </div>

                    <ol>
                        <li><b>New RO Purifier Installation:</b> We offer Installation of industrial RO Systems (along with domestic and commercial range) at your doorstep. We totally believe in 100% customer satisfaction with minimal resource and time. We provide guaranteed 99 minutes service to your doorstep.</li>
                        <li><b>Existing RO Purifier Servicing:</b> We Provides solutions for existing water purifier systems in one touch request, we offer an extensive range of membrane purification systems servicing, RO booster pump, filters change, Adapter change. All you need to do is raise service request in our application. We guaranteed within 99 minutes service engineer will reach at your doorstep.</li>
                    </ol>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- END Services -->
