@{
    ViewBag.Title = "Dashboard";
}

<div class="portlet light portlet-fit bordered">
    <div class="portlet-title">
        <div class="caption font-green-haze">
            <span class="caption-subject bold uppercase">Engineer Dashboard</span>
        </div>
    </div>
</div>

